* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
:root {
  --primary-color: #888;
  --primary-bold-color: #6d6c6c;
  --font: "Montserrat", sans-serif;
}
body {
  font-family: sans-serif;
  color: #888;
  background-color: #fff;
}
#header {
  width: 100%;
  /* height: 65px; */
  background-color: #fdfdfd;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

.main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.logo,
.add-to-cart {
  flex: 3;
  display: flex;
  justify-content: center;
}
.nav-bar {
  flex: 6;
  margin-left: 10px;
}
.nav-bar a {
  color: var(--primary-color);
  font-family: var(--font);
  padding: 0 20px;
  font-weight: 500;
}
.nav-bar a:hover {
  color: var(--primary-bold-color);
}

.logo {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.logo h2 {
  text-transform: uppercase;
}

.add-to-cart img {
  width: 30px;
  height: 30px;
  border: 2px solid var(--primary-color);
  border-radius: 32px;
  padding: 6px 22px;
}

/* banner */
.banner {
  background-image: url("./img/2.jpg");
  background-size: cover;
  width: 100%;
  height: 600px;
}
.content {
  margin-left: 100px;
  padding-top: 150px;
  color: #fff;
  font-family: var(--font);
}
.content h2 {
  font-size: 3rem;
  text-transform: uppercase;
}
.content h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 9px;
  margin-top: 5px;
}
.content button {
  margin-top: 2.5rem;
  padding: 15px 50px;
  /* background: none; */
  outline: none;
  /* border: 2px solid #fff; */
  border: none;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: #6d6c6c;
  border-radius: 4px;
  transition: 0.5s all ease;
}
.content button:hover {
  color: hsl(0, 0%, 100%);
  background-color: transparent;
  border: 1px solid #fff;
}
/* -/end banner  */

/* latest products */
.section-heading {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 50px 0;
  position: relative;
}
.section-heading .line-left,
.section-heading .line-right {
  width: 150px;
  height: 1px;
  background: #f3f3f3;
}
.section-heading .line-left {
  position: absolute;
  top: 13px;
  left: 29%;
}
.section-heading .line-right {
  position: absolute;
  top: 13px;
  right: 29%;
}
.section-heading .section-name {
  color: var(--primary-bold-color);
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
}
.fix-width {
  margin: 0 auto;
  width: 985px;
}
.latest-products-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.product-card {
  border: 3px solid #f3f3f3;
  padding: 1rem;
  margin: 0 20px;
  position: relative;
}
.product-card .less {
  position: absolute;
  top: 25px;
  left: -3px;
  width: 63px;
  height: 25px;
  background-color: rgba(232, 24, 24, 0.65);
  color: #fff;
  text-align: center;
  padding-top: 10px;
}
.product-card .less > span {
  margin-top: 10px;
}
.product-card img {
  width: 250px;
}
.pro-det {
  padding: 5px;
  text-align: center;
}
.pro-det .product-title {
  font-size: 1rem;
  color: var(--primary-color);
  margin-bottom: 10px;
}
.pro-det .product-price {
  font-weight: 700;
}
/* -/latest products */

/* brand products  */
.brand {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.brand-card {
  width: 20%;
  border: 3px solid #f3f3f3;
  padding: 20px;
  text-align: center;
  margin: 20px;
  color: #f3f3f3;
}
footer {
  background-color: #FCFBFB;
  margin-top: 50px;
  padding: 40px 0;
  border-top: 1px solid #F3F2F2;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .store,
.footer .blog-posts,
.footer .support {
  width: 32%;
  padding-right: 20px;
}
.store h2, 
.blog-posts h2,
.support h2{
  font-size: 1rem;
  margin-bottom: 1rem;
}
.store p,
.blog-posts p {
  margin: 20px 0;
}
.social-media {
  display: flex;
  /* align-items: center; */
  /* justify-content: start; */
}
.social-media img {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
.row {
  display: flex;
}
.col-1 {
  width: 60%;
}
.col-2  {
  width: 40%;
}
.row  ul > li {
  list-style: none;
  line-height: 40px;
}

/* -/ brand products  */
